<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sustainability Hackathon Asia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1 class = "mainH">Welcome to the Sustainability Hackathon Asia!</h1>
    <section>
    <p>The focus of this project is to predict the spread of Cholera in Myanmar due to flooding.</p>
    </section>
    <p>Our goal for this hackathon was to reliably predict the risk of cholera outbreaks from data such as the likeliness and levels of flooding in a given area in Myanmar, and from this data give a 'Vaccine Priority Score' representing the necessity and urgency of immunisation outreach to the area.</p>
    <section>
    <p>Click the link below to view the map.</p>
    </section>
    <span class = "banner"><button class="btnMain"><a href="/map">View Map</a></button></span>
</body>

<footer></footer>
</html>