<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>

<body class="app-column">
    <header id="top-bar">
        <div class="brand">
            <a href="/" class="back-link">←</a>
            <h1>Myanmar Cholera Index</h1>
        </div>

        <div id="prediction-output" class="hidden">
            <div class="status-item">
                <span class="label">Location:</span>
                <span id="town-name" class="value">--</span>
            </div>
            
            <div id="priority-pill">
                PRIORITY: <span id="priority-number">-</span>
            </div>

            <div class="factors-row">
                <div class="f-item">Vax: <span id="stat-vax">--</span></div>
                <div class="f-item">Flood: <span id="stat-flood">--</span></div>
                <div class="f-item">Cases: <span id="stat-cases">--</span></div>
            </div>
        </div>
    </header>

    <main id="map"></main>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>

</body>

</html>
